.header {
    background-color: #333333;
    line-height: 48px;
}

.header-wrap {
    width: 100%;
    color: #fff;
}

.header-wrap a {
    color: #fff;
    text-decoration: none;
}

.logo .fa-apple {
    font-size: 20px;
}

.logo .fa-apple,
.user a{
    color: rgb(236, 236, 236);
    transition: color .3s;
}

.logo .fa-apple:hover,
.user a:hover{
    color: #fff;
}

@media screen and (max-width: 767px) {
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .menu {
        position: absolute;
        overflow: hidden;
        top: 45px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #333333;
        transform: scaleY(0);
        transform-origin: top;
        transition:transform .5s ease,height .5s ease;
        z-index: 200;
    }

    .menu-down {
        transform: scaleY(1);
        height: 100vh;
    }

    .menu-button {
        cursor: pointer;
        margin-left: 15px;
        order: -1;
    }

    .menu-search {
        padding: 10px;
        background-color: #333;
        border-bottom: 1px solid #555;
    }

    .menu-search-input {
        display: block;
        margin: auto;
        width: calc(100% - 15px);
        font-size: 24px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #555;
        border: none;
        outline: none;
    }

    .menu-search-input::placeholder {
        padding-left: 20px;
        opacity: 0.8;
        font-size: 16px;
        color: #ccc;
    }

    .menu-link-group {
        padding: 15px;
    }

    .menu-link {
        width: 100%;
        display: block;
        font-size: 14px;
        border-bottom: 1px solid #555;
    }

    .menu-link:last-child {
        border: none;
    }

    .user {
        margin-right: 15px;
    }

    .search-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-wrap {
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
    }

    .logo {
        width: 10%;
    }

    .logo a {
        padding: 0 20px;
    }

    .menu-button {
        display: none;
    }

    .menu-search {
        display: none;
    }

    .menu {
        flex-grow: 1;
    }

    .menu-link-group {
        display: flex;
        justify-content: space-around;
    }

    .user {
        width: 10%;
        display: flex;
        justify-content: space-around;
    }
}