html {
    background-color: lavender;
}

.container {
    max-width: 1000px;
    margin: 15px auto 0;
    padding: 0 30px;
    font-family: 'Edu NSW ACT Foundation','Edu VIC WA NT Beginner', cursive;
    position: relative;
}

.container-top {
    margin-bottom: 15px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.title{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.months {
    margin-bottom: 10px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
}

.fa-solid {
    font-size: 20px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.week {
    width: 14%;
    position: relative;
    height: 50px;
    text-align: center;
}

.week img {
    width: 100%;
    height: 100%;
}

.week h2 {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.daylist {
    min-height: 400px;
}

.day,
.day-ruleout {
    width: 12.5%;
    margin: 3px 0.75%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.day {
    border: 1.5px solid #9297e0;
    cursor: pointer;
}

.day:hover {
    box-shadow: 0 0 8px #aaaaaa;
}

.day-title {
    font-size: 14px;
}

.day p {
    margin-top: 2px;
    padding: 3px 5px;
    overflow: hidden;
}

.day-ruleout {
    border: 1.5px solid #b8bae0;
    color: #b8bae0;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .day-title {
        font-size: 12px;
    }

    .day-ruleout {
        font-size: 10px;
    }
}

.today {
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: 43px;
    border: 1px solid #8e8ef0;
    border-radius: 50px;
    padding: 5px;
    background-color: #b8bae0;
}

.today:hover {
    background-color: #8e8ef0;
}


.input {
    position: fixed;
    margin: auto;
    top: 20%;
    right: 0;
    left: 0;
    width: 50%;
    max-width: 250px;
    background-color: #8e8ef0;
    opacity: 90%;
    /* display: flex; */
    padding: 20px;
    display: none;
    box-shadow: 0 0 12px #66666a;
    overflow: auto;
}

.close {
    position: absolute;
    right: 20px;
}

.calendar {
    margin: auto;
}

.calendar label {
    display: block;
    margin-bottom: 20px;
}

.calendar span {
    margin-bottom: 5px;
    display: inline-block;
}

.date {
    font-size: 24px;
}

.enter {
    width: 98%;
    resize: none;
}

.calendar .add {
    text-align: right;
}

.calendar .add input {
    cursor: pointer;
}

.calendar-item {
    border-radius: 10px;
    color: #000;
    background-color: #fff;
    font-size: 12px;
    margin-bottom: 1px;

}