html {
    background-color: lavender;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 30px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.year {
    margin-top: 10px;
    font-size: 24px;
    text-align: right;
    padding-right: 50px;
}

.months {
    margin-bottom: 10px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.fa-solid {
    font-size: 20px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.week {
    width: 14%;
    position: relative;
    height: 50px;
    text-align: center;
}

.week img {
    width: 100%;
    height: 100%;
}

.week h2 {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.daylist {
    height: 400px;
}

.day,
.day-ruleout {
    width: 12.5%;
    margin: 3px 0.75%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.day {
    border: 1.5px solid #9297e0;
    cursor: pointer;
    font-size: 14px;
}

.day-ruleout {
    border: 1.5px solid #b8bae0;
    color: #b8bae0;
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .day {
        font-size: 12px;
    }
    .day-ruleout {
        font-size: 10px;
    }
}

.fa-plus {
    cursor: pointer;
    margin-bottom: 5px;
}


.input {
    position: fixed;
    margin: auto;
    top: 20%;
    right: 0;
    left: 0;
    width: 50%;
    max-width: 250px;
    background-color: #8e8ef0;
    opacity: 90%;
    /* display: flex; */
    padding: 20px;
    display: none;
    box-shadow: 0 0 12px #66666a;
}

.close {
    position: absolute;
    right: 20px;
}

.calendar label {
    display: block;
    margin-bottom: 20px;
}

.calendar span {
    margin-bottom: 5px;
    display: inline-block;
}

.date {
    font-size: 24px;
}

.enter {
    width: 98%;
    resize: none;
}

.calendar .add {
    text-align: right;
}

.calendar .add input {
    cursor: pointer;
}