html {
    background-image: url(./背景.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

i {
    cursor: pointer;
}

.todolist {
    margin: 0 auto;
    width: 85%;
    max-width: 800px;
}

.title {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: bolder;
    color: rgb(66, 49, 4);
}

.add {
    position: relative;
    margin: 30px auto 0;
    text-align: center;
    width: 90%;
    border: 2px solid rgb(196, 173, 144);
    border-radius: 8px;
    background-color: antiquewhite;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.add-matter {
    width: 80%;
    font-size: 20px;
    padding: 5px 0 5px 10%;
    border: none;
    background-color: antiquewhite;
    outline: none;
}

.submit {
    opacity: 70%;
    margin-right: 10%;
}

.add:hover,
.add:focus {
    opacity: 100%;
}

.main {
    margin: 25px auto;
    width: 90%;
    max-height: 400px;
    min-height: 30px;
    overflow: auto;
    border: 2px solid rgb(196, 173, 144);
    background-color: antiquewhite;
    border-radius: 8px;
}

.preset {
    padding: 10px;
    text-align: center;
}

.matter {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1.5px solid tan;
}

.matter:last-child {
    border-bottom: none;
}


.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.matter-title {
    width: 80%;
    font-size: 16px;
    margin: 0 10px;
    overflow: hidden;
}

.edit,
.clear {
    padding: 2px;
    margin-left: 5px;
}

.matter-alter {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    width: calc(100% - 50px);
    display: none;
}

.alter-title {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
}

.alter {
    position: absolute;
    right: 10px;
}


@media screen and (max-width: 500px) {
    .title {
        font-size: 28px;
    }
    .add-matter {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 22px;
    }
    .add-matter {
        font-size: 16px;
    }
}